* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #e4cfb9;
}

.image {
    display: block;
    height: 80px;
    width: auto;
    margin: auto;
}

.title {
    margin-top: 0;
    text-align: center;
}

.top {  
    background-color: rgb(231, 178, 6);
    padding: 30px;
    margin-bottom: 4.5em;
}



.recipe {
    margin-left: 380px;
    border: solid orange 2px;
    border-radius: 4px;
    padding: 10px;
    text-decoration-line: none;
}

.recipe:hover {
    background-color: orange;
}

#recipesTitle {
    text-align: center;
}

.recipeImage {
    height: 30rem;
    width: auto;
    border: black solid 5px;
    border-radius: 40px;
    margin-left: 0;
    display: block;
    margin-top: 20px;
}

.recipeTitle {
    margin-top: 0;
}

.subtitle {
    margin-top: 2%;
    text-align: center;
}

.mainPage {
    font-size: 20px;
    padding: 5px;
    border: black solid 2px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
}

.mainPage:hover {
    background-color: orange;
}